<link rel="stylesheet" href="/css/login.css"/>
<div class="wrapper">
    <form action="" method="post" name="Login_Form" class="form-signin">
        <h3 class="form-signin-heading">Argo.js</h3>
        <p>Hi {{credentials.name}} {{credentials.surname}}</p>
        <p>The app {{client.name}} want full access. Do you approve?</p>
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-primary btn-block" name="decision" value="allow" type="Submit">Allow
                </button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-danger btn-block" name="decision" value="deny" type="Submit">Deny
                </button>
            </div>
        </div>
    </form>
</div>